
/*Importamos fuentes de google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Russo+One&display=swap');

*{
    font-family: 'Russo One', sans-serif;
}

/*SECCION DE ARRIBA*/
body{
    background-image: url(../images/fame_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    text-align: center;
    
    height: fit-content;
}

.logo > img{
    height: 7rem;
}


/*SECCION DEL MEDIO*/
.middle{
    display: flex;
    width: 60vw;
    min-height: 70vh;
    background-color: rgba(20, 20, 20, 0.521);
    margin :auto;
    margin-top: -50px;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(255, 184, 53, 0.432);
    box-sizing: border-box;
}

.table{
    width: 100%;
    margin: 2rem;
    margin-top: 3rem;
    box-sizing: border-box;
}
.score{
    text-align: right;
}

table{
    
    width: 100%;    
}

td{
    color: white; 
    border-bottom: solid;
    border-width: 4px;
    border-color: rgba(255, 184, 53, 0.432);
    padding: 10px;
}

/*SECCION DE ABAJO*/

.bottom{
    margin-top: 3rem;
    display: flex;
    justify-content: center
}

button{
    
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: rgba(255, 255, 255, 0.164);
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: #6D6027 -2px -2px 10px 2px, #D3CBB8 0px 0px 10px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 254, 254, 0.315);
    background-image: url("../images/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
button:hover{
        box-shadow: #D3CBB8 -2px -2px 10px 2px, #6D6027 0px 0px 10px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.01);
        color: rgb(255, 255, 255);
        background-size: 101%;
    }
